{% extends "layouts/master.html" %}
{% block title %}Manager{% endblock %}
{% block nav_active %}active{% endblock %}
{% block content %}
    <div class="row" style="margin-top: 300px;">
        <div class="col-5 ml-auto mr-auto">
          <button type="button" class="btn btn-outline-primary">
            <a href="{% url 'manager:register' %}">Create new account</a>
          </button>
          <button type="button" class="btn btn-outline-primary">
            <a href="#">Login</a>
          </button>
        </div>
    </div>
{% endblock %}