{% extends "layouts/master.html" %}
{% block title %}Manager{% endblock %}
{% block nav_active %}active{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-12">
            <a href="{% url 'manager:carrier-add' %}">
                <button class="btn btn-success">Add new Carrier</button>
            </a>
            <h2>List of carriers:</h2>
        </div>
        {% if all_carriers %}
                {% for carrier in all_carriers %}
                    <div class="col-2">
                        <a href="{% url 'manager:carrier_detail' carrier.id %}">{{ carrier.name }}</a>
                    </div>
                    <div class="col-1">
                        <form action="{% url 'manager:carrier-delete' carrier.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="carrier_id" value="{{ carrier.id }}">
                            <button type="submit" class="btn btn-default btn-sm">
                                <span class="glyphicon glyphicon-trash"></span>
                                Delete
                            </button>
                        </form>
                    </div>
                    <div class="col-9">
                        <form action="{% url 'manager:carrier-update' carrier.id %}" method="post">
                            {% csrf_token %}
                            <input type="hidden" name="carrier_id" value="{{ carrier.id }}">
                            <button type="submit" class="btn btn-default btn-sm">
                                <span>update</span>
                            </button>
                        </form>
                    </div>
                {% endfor %}
        {% else %}
            <h3>You don't have any carriers</h3>
        {% endif %}
    </div>
{% endblock %}
