body{
    background: white url("images/background1.png");
}

.orders {
    background: white url("http://www.papertrailecm.co.uk/images/orders.jpg");
}

.carriers {
    background: white url("https://upload.wikimedia.org/wikipedia/commons/thumb/1/1c/Wright_Bros.jpg/640px-Wright_Bros.jpg");
}

.trips {
    background: white url("https://www.tripit.com/blog/wp-content/uploads/2014/10/2173010.jpg");
}

.navbar{
    border-radius: 0;
}

.navbar-brand{
    font-family: 'Satisfy', cursive;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background-color: #f5f5f5;
}